nav {
  background: white;
  color: white;
  box-shadow: none;
  margin-top: 20px;
}

.nav-bg {
  background: white;
}

nav .brand-logo {
  color: #3B3B3B;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  width: 160px;
}

nav ul a {
  color: #3B3B3B;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

h1 {
  color: #4b4a4a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  font-size: 25px;
  letter-spacing: 2px;
  margin: 0 20px 5px 20px;
}

h2 {
  margin: 100px 0 0 0;
  border-left: 5px solid #3B3B3B;
  padding: 0 0px 0 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 40px;
  color: #3B3B3B;
  line-height: 90%;

}

h3 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  font-size: 18.75px;
  letter-spacing: 2px;
  margin: 0
}

p {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman";
  font-size: 18px;
  color: #3B3B3B;
  margin-bottom: 0;
}

p a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

ul {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman";
  font-size: 16px;
  color: #3B3B3B;
}

.container {
  max-width: 1024px;

}

.raised {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 100px;
  padding-bottom: 200px;
}

.port-card {
  display: flex;
  justify-content: center;
}
.sideA {
  background: #405C4B;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  width: 402px;
  height: 214px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sideB {
  background: #fff;
  border: 1px solid #405C4B;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 402px;
  height: 214px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  margin-left: -22%;
  margin-top: 5%;
}

.social-item {
  font-size: 14px;
  margin-left: 65%;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.social-icon {
  width: 25px;
  margin-right: 10px;
  align-self: center;
}

.curly {
  height: 80px;
}

.headers {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.location {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 20px 0 0 30px;
  display: flex;
}

.location-icon {
  width: 10px;
  margin-right: 10px;
  align-self: center;
}

.personal-photo {
  width: 300px;
  z-index: 1;
  align-self: flex-start;
  box-shadow: 0 6px 6px rgba(38, 38, 38, 0.16);
  margin-left: -27%;
}

.about {
  margin-right: -12%;
}
.shapes-photos {
  margin-top: 100px;
  margin-left: 15px;
  display: flex;
  justify-content: flex-end;
}

.bg-override .shapes-photos {
  margin-top: 0px;
}

.shape {
  background: #EDEEE8;
  width: 300px;
  height: 375px;
  margin-top: 15%;
}

.shape2 {
  background: #F4F4F2;
  width: 300px;
  height: 375px;
  z-index: 1;
  align-self: flex-start;
  box-shadow: 0 6px 6px rgba(38, 38, 38, 0.16);
  margin-left: -27%;

}

@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
  .about {
    margin-right: 0;
  }
}
.flex {
  display: flex;
  margin-bottom: 100px;
}

.bg-override .flex {
  margin-bottom: 0;
  padding-bottom: 100px;
}

.bg-override {
  background: #F7F7F7;
  padding-top:100px;
}

.bg-override h2 {
  margin: 0;
}

.work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
  padding-bottom: 200px;
}

.work .port-card {
  justify-content: space-between;
  flex-direction: column;
  margin-right: 6%;
}
.work-sideA {
  background: #362C1E;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  width: 271.35px;
  height: 144.45px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.work-sideB {
  background: #fff;
  border: 1px solid #405C4B;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  width: 271.35px;
  height: 144.45px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -130px;
  left: 15px;
  padding-top: 20%;
  flex-direction: column;
}

.brewpub-card-A {
  background: #362C1E;
  border: 1px solid #362C1E;
}

.brewpub-card-B {
  border: 1px solid #362C1E;
}

.undecided-card-A {
  background: #BF5C5C;
  border: 1px solid #BF5C5C;
}

.undecided-card-B {
  border: 1px solid #BF5C5C;
}

.politically-card-A {
  background: #3F4A5A;
  border: 1px solid #3F4A5A;
}

.politically-card-B {
  border: 1px solid #3F4A5A;
}

.project-logo {
  width: 65%;
}

.plogo-small {
  width: 50%;
}

.plogo-vsmall {
  width: 30%;
}

button {
  margin-right: 10px;
  background:
}

.piece {
  margin-top: 30px;
}

.piece-content {
  width: 300px;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
}

.technologies {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top:5px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.pill {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  margin: 5px 7px 2px 2px;
  background: #EDEEE8;
  border-radius: 10px 10px 10px 10px;
}

.specific-skill {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  width: 90px;

}
.skill-icon {
  width: 75px;
}

.inline {
  display: flex;
  margin-top: 10px;
  }

@media (max-width: 1280px) {
  .inline {
    flex-wrap: wrap;;
  }
}

  .inline .location {
    margin-left: 0;
    margin-right: 15px;
  }

  .inline .location-icon {
    width: 18px;
  }

  .card-logo {
    width: 25%;
  }

  i {
    margin-right: 10px;
  }
